@{
    ViewBag.Title = "Thales Development Test";
}
<br />
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="form-group">
                <label for="employeeId">Enter Employee ID (optional):</label>
                <input type="text" class="form-control" id="employeeId" placeholder="Employee ID (Integer)">
            </div>
            <button type="button" class="btn btn-primary" id="getDataBtn">Search</button>
        </div>
    </div>
    <br />
    <hr />
    <br />
    <div class="row mt-4">
        <div class="col-md-12">
            <table class="table table-bordered table-striped" id="dataTable" style="display: none;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Salary</th>
                        <th>Annual Salary</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @{
        var popperPath = "https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js";
    }
    <script src=@popperPath></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/Scripts/index.js"></script>



